.deepshadow{
    color: black !important;
    min-width: max-content;
    display: block;
}

.appointmentPage{
    position: absolute;
    right: 5vw;
    top: 0%;
    width: 0;
    min-height: 32vw;
    font-size: medium;
    background-color: black;
    color: white;
    padding: 1%;
    background: linear-gradient(-90deg, #024743, #e7e5e4, #e7e5e4 );
    box-shadow: 0 0 50px rgba(170, 170, 170, 0.5);
    border-radius: 0 10vw 0 10vw;
    z-index: 50;
    float:left;
    clear: left;
}


.active {
    color: black;
    font-weight: bold;
    background-color:rgb(173, 201, 255);
    border-radius: 10px 10px 0 0;
    opacity: 1;
}
